.name {
    text-align: center;
    margin-top: calc(0.5 * var(--content-font-size));
    font-size: calc(1.5 * var(--content-font-size));
    font-family: var(--h1-font);
    letter-spacing: -0.5px;
}

.circle {
    width: 100%;
    background: unset;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: calc(1 * var(--content-font-size));
    border-radius: 10px;
    margin: calc(0.7 * var(--content-font-size)) 0;
}


/*______
RESIZING
*/

.sidebar .section-header {
    padding: calc(0.5 * var(--content-font-size));
    margin-bottom: calc(0.5 * var(--content-font-size));
}

.contact-icon {
    margin-right: calc(0.5 * var(--content-font-size));
}

.bullets>li::before {
    margin-right: calc(0.35 * var(--content-font-size));
}

.sub-bullets>li::before {
    margin-right: calc(0.35 * var(--content-font-size));
}

.main-content {
    gap: calc(1.5 * var(--content-font-size));
}

.main-content .section-header {
    margin-bottom: calc(0.4 * var(--content-font-size));
}

.main-content .sub-section-header {
    margin-bottom: calc(0.4 * var(--content-font-size));
}

.sub-section {
    margin-bottom: calc(1.5 * var(--content-font-size));
}

.company-experience {
    margin-bottom: calc(1 * var(--content-font-size));
}

.company-title {
    margin-bottom: calc(0.5 * var(--content-font-size));
}

.experience+.experience {
    margin-top: 0.5em;
}

.experience {
    padding-left: calc(0.5 * var(--content-font-size));
}

.additional-info {
    margin-left: calc(1 * var(--content-font-size));
}

.exp-date {
    margin-left: calc(0.5 * var(--content-font-size));
}

.skills .bullets {
    margin-left: calc(0.1 * var(--content-font-size));
}