.name {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--h1-font);
    letter-spacing: -0.5px;
}

.circle {
    width: 100%;
    background: unset;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.7rem 0;
}