body {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

.a4 {
    /* aspect-ratio: 210 / 297; */
    height: 297mm;
    width: 210mm;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 33%;
    background-color: #F7CCB7;
    padding: 0rem 1rem 1rem 1rem;
    box-sizing: border-box;
}

.sidebar .section {
    margin: 0 0 1.5rem;
}

.sidebar .section .section-header {
    background-color: #F6C6AD;
    padding: 1rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 1rem 0;
}

.sidebar .section p {
    margin: 0;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.circle {
    width: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #00aaff, #0066ff);
    color: white;
    font-weight: bold;
    font-family: Consolas, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.3em;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact ul li i {
    display: flex;
    margin-right: 10px;
}

.contact ul li i svg {
    height: 1.25rem;
}

.contact ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

.contact ul li a svg {
    margin-left: 10px;
    height: 0.8rem;
    align-self: center;
}

.contact ul li a:hover {
    text-decoration: underline;
}

.training ul li {
    margin-left: 1rem;
}

.sidebar .keywords .section-header {
    margin-bottom: 0.7rem;
}

.keywords ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem 0.05rem;
    list-style: none;
}

.keywords ul li {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    font-family: Consolas, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    transition: transform 0.1s;
}

.keywords ul li:hover {
    transform: translateY(-0.05rem);
}

.keywords ul li:nth-child(2) {
    background-color: #ffc400;
}

.keywords ul li:nth-child(1) {
    background-color: #e01b5d;
    color: white;
}

.keywords ul li:nth-child(3) {
    background-color: #9f2cfd;
    color: white;
}

.keywords ul li:nth-child(4) {
    background-color: #179fdf;
    color: white;
}

.main-content {
    width: 67%;
    background-color: #fcfcfc;
}