/***
GENERAL
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.a4 {
    height: 297mm;
    width: 210mm;
    display: flex;
    justify-content: center;
}

.section .section-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/***
SIDE BAR
*/

.sidebar {
    width: 32%;
    background-color: #F7CCB7;
    padding: 0.7rem;
    padding-top: 0rem;
    box-sizing: border-box;
}

.sidebar .section {
    margin-bottom: 1rem;
}

.sidebar .section .section-header {
    background-color: #F6C6AD;
    padding: 1rem;
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.circle {
    width: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #00aaff, #0066ff);
    color: white;
    font-weight: bold;
    font-family: Consolas, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.3em;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.contact ul li i {
    display: flex;
    margin-right: 0.5rem;
}

.contact ul li i svg {
    height: 1.25rem;
}

.contact ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

.contact ul li a svg {
    margin-left: 10px;
    height: 0.8rem;
    align-self: center;
}

.contact ul li a:hover {
    text-decoration: underline;
}

.training ul li {
    margin-left: 1rem;
}

.keywords ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem 0.05rem;
    list-style: none;
}

.keywords ul li {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    font-family: Consolas, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    transition: transform 0.1s;
}

.keywords ul li:hover {
    transform: translateY(-0.05rem);
}

.keywords ul li:nth-child(2) {
    background-color: #ffc400;
}

.keywords ul li:nth-child(1) {
    background-color: #e01b5d;
    color: white;
}

.keywords ul li:nth-child(3) {
    background-color: #9f2cfd;
    color: white;
}

.keywords ul li:nth-child(4) {
    background-color: #179fdf;
    color: white;
}

.training ul li {
    margin-bottom: 0.3rem;
}

.other ul li {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}


/***
MAIN CONTENT
*/

.main-content {
    width: 68%;
    padding: 1rem;
    padding-left: 0.8rem;
    background-color: #fcfcfc;
}

.main-content .section .section-header {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.main-content .section {
    margin-bottom: 1.2rem;
}

.main-content .sub-section .sub-section-header {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 0.3rem;
}

.sub-section {
    margin-bottom: 1rem;
}

.company-experience {
    margin-bottom: 0.7rem;
}

.company-experience:last-child {
    margin-bottom: 0;
}

.company-title {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.company-work-date {
    font-weight: normal;
    font-style: italic;
}

.experience,
.skill {
    margin: 0 0 0.3rem 0.9rem;
    text-align: justify;
}

.skill:last-child,
.experience:last-child {
    margin-bottom: 0;
}

.exp-keywords {
    font-weight: bold;
    letter-spacing: -0.025rem;
}

.additional-info {
    font-size: 0.9rem;
}

.grid-list {
    --column-count: 4;
    display: grid;
    grid-template-columns: repeat(var(--column-count), auto);
    gap: 0.3rem;
}

.grid-list li {
    margin-bottom: 0;
}

.grid-list li.wide {
    grid-column: span var(--column-count);
}